@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-gradient: linear-gradient(
    180deg,
    rgba(248, 250, 252, 0) 0%,
    rgba(248, 250, 252, 0.8) 100%
  );
}

body {
  @apply bg-white text-gray-900;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  @apply min-h-screen;
  background: var(--bg-gradient);
}
